cycler
et-xmlfile
jdcal
jira
-e git+https://github.com/rnwolf/jira-metrics-extract.git#egg=jira_metrics_extract
matplotlib
numpy
oauthlib
openpyxl
pandas
patsy
pydicti
pyparsing
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
requests-toolbelt
scipy
seaborn
six
statsmodels
tlslite
dateparser
future
