cycler==0.10.0
et-xmlfile==1.0.1
jdcal
jira
jira-metrics-extract
matplotlib
numpy
oauthlib
openpyxl
pandas==0.20.3
patsy
pydicti
pyparsing
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
requests-toolbelt
scipy
seaborn
six
statsmodels
tlslite
dateparser==0.6.0
future

