cycler==0.10.0
et-xmlfile==1.0.1
jdcal==1.4.1
jira==2.0.0
jira-metrics-extract==0.53
matplotlib==3.1.1
numpy==1.17.2
oauthlib==3.1.0
openpyxl==3.0.0
pandas==0.25.1
patsy==0.5.1
pydicti==1.1.1
pyparsing
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
requests-toolbelt
scipy
seaborn
six
statsmodels
tlslite
dateparser==0.6.0
future

